@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
}
nav {
	background-color: #ffffff;
	height: 1em;
	padding: 2em;
}
nav .right{
	font-family: Roboto Black;
	text-align: center;
}
nav .right a {
	transition: .5s all ease;
	text-decoration:none;
	color: #3d3d3d;
}
nav .right ul {
	list-style-type: none;
}
nav .right ul li {
	display: inline;
	margin-right: 2em;
}
nav .right ul li a:hover {
	color: black;

}
nav .right ul li button {
	padding: 1em 2em;
	border: 1px solid transparent;
	background-color: #48a9dc;
	border-radius: 0.5em;
	color: white;
	font-family: Roboto Black !important;
}
body {
	background-color: #48a9dc;
	width: 100%;

}
section.banner {
	background: url("https://www.sorce.co.uk/wp-content/uploads/2018/05/Banner-dark-overlay.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 !important;
	padding: 15em 0em;
	background-attachment: fixed;
}
section.banner .content{
	border: 7px solid white;
	width: 50%;
	padding: 1em;
	margin: 0 auto;
	text-align: center;

}
section.banner .content h2{
	font-family: Roboto Black;
	font-size: 20pt !important;	
}
section.banner .content h1{
	font-size: 42pt !important;
	margin-bottom: 0 !important;
}
section.about {
}
section.about h2{
	margin-bottom: 2em;
}
section.about .content p{
	text-align: left;
	width: 50%;
	margin: 0 auto;
}
section.skill {
	background: url("../img/banner-skill.png");
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
section.skill .content ul {
	margin-top: 2em;
}
section.skill .content ul li{
	display: inline-block;
	text-align: center;
	border: 3px solid white;
	padding: 1em;
	width: 5em;
	height: 5em;
	margin: 1em 1em;
	border-radius: 50%;
}
section.skill .content ul li h2, section.skill .content ul li p {
	position: relative;
	top: 1.5em;
}
section.work .content {
	height: 12em; 
	width: 95%; 
	margin: 1em auto;
}
section.work .content .left {
	float: left; 
	width: 20%
}
section.work .content .right {
	float: left; 
	width: 80%; 
	background-color: white; 
	color: black; 
	border-radius: 1em;
}
section.work .content .judul {
	font-size: 20pt;
	margin-left: 1em;
	text-align: left;
}
section.work .content .subjudul {
	font-family: Roboto Black;  
	margin-left: 2em; 
	font-size: 10pt; 
	text-align: left;
}
section.work .content .isi {
	 text-align: left; 
	 margin-left: 3em; 
	 margin-top: .5em; 
	 margin-bottom: 1em;
}
@media only screen and (max-width: 600px) {
	section.work .content {
	height: auto; 
	width: 95%; 
	margin: 1em auto;
	}
  section.work .content .left {
float: none; 
width: 20%;
margin-left: 2em;
	}
	section.work .content .left p{
float: none !important;
margin-bottom: 1em;
	}
	section.work .content .right {
margin:0 auto;
	float: none; 
	width: 80%; 
	background-color: white; 
	color: black; 
	border-radius: 1em;
	}
	section.work .content .right .isi{
margin-left: 2em;
	}
}
section {
	color: white;
	width: 100%;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 2em;
}
section h1 {
	padding-top: 1em;
	font-family: Roboto Black;	
	font-size: 25pt;
}
section h2 {
	font-family: Roboto Black;	
	font-size: 12pt;
}
section p {
	font-family: Roboto Thin;
	font-size: 12pt;
}
img {
	width: 15%;
	margin-bottom: 2em;
	border-radius: 50%;
	margin-top: ;
}
input, textarea {
	display: block;
	width: 40%;
	border-radius: 4px;
	border: 1px solid #cecece;
	margin:0 auto;
	margin-bottom: 1em;
}
input {
	padding: 1em;
}
textarea{
	padding: 1em;
	height: 10em
}
footer {
	background-color: white;
	padding: 1em 0;
	width: 100%;
	font-family: Roboto Black;
	text-align: center;
	position: absolute;
}
table{
	font-family: Roboto Thin;
	width: 50%;
	text-align: left;
}

table input {
	padding: .5em;
	outline: none;
	width: 100%;
	margin:0;
	margin-top: .5em;
}

.btn {
	width: 30%;
	padding: 0.5em 2em;
	border: 1px solid transparent;
	background-color: #fff776;
	color: black;
	border-radius: 3em;
	margin-top: 2em;
	outline: none;
	font-family: Roboto Black;
}
.btn:active {
	border:1px solid blue;
}